@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* #131a28 */
/* #1cdbf5 */

html{
  font-size: 62.5%;
}



header {
  padding: 6rem 2rem;
  background: #131a28;
  text-align: center;
}

.logo .icon{
  font-size: 10rem;
  color: #fff;
}

.logo span{
  font-size: 8em;
  color: #fff;
  font-weight: 200;
  margin-left: 3rem;
}

.input-group{
  margin-top: 2rem;
}

.form-control{
  max-width: 50rem;
  width: 90%;
  padding: 1.2rem 1rem;
  border: none;
  outline: none;
  font-size: 1.7rem;
}

.btn{
  background: #f44336;
  color: #fff;
  padding: 1.2rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7rem;
}

.container{
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
  gap: 2rem;

}

 .no-result{
font-size: 3rem;
text-align: center;
padding: 4rem;


}

.recipeCard{
  /* width: 30rem; */
  padding: 1rem;
  box-shadow: 0 0 1rem rgb(94, 94, 94);
  border-radius: .5rem;
  overflow: hidden;
}

.recipeCard img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
}

.recipeCard h2{
  color: #111;
  font-size: 1.5rem;
  padding: .5rem 0;
}

.btn-outline{
  width: 100%;
  padding: .8rem 1.2rem;
  border: none;
  outline: none;
  color: #4caf50;
  border-radius: .5rem;
  border: 1px solid #4caf50;
  cursor: pointer;
  margin: .5rem 0;
  font-size: 1.4rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background: #fff;
}

.btn-outline:hover{
  background: #4caf50;
  color: #fff;
}

.btn-outline-red{
  color: #f44336;
  border:1px solid #f44336;
  
}

.btn-outline-red:hover{
  background: #f44336;
}

.loader{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.backdrop{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
  max-width: 50rem;
  width: 90%;
  background: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 1rem #111;
  padding: 1rem 2rem;
}

.modal h2{
  font-size: 2.5rem;
  color: #111;
  text-decoration: underline;
}

.modal h3{
  font-size: 1.6rem;
  margin: 1rem 0;
}

.modal ul{
overflow-y: auto;
max-height: 35rem;
margin-bottom: 2rem;

}
.modal ul li{
  list-style:none;
  font-size: 1.4rem;
  padding: .2rem;
}






@media(max-width: 720px){
  html{
    font-size: 55%;
  }

  header {
    padding: 3rem 2rem;
    
  }
  
  .logo .icon{
    font-size: 5rem;
 
  }
  
  .logo span{
    font-size: 4em;
    margin-left: 1rem;
  }
  .input-group .btn{
    margin-top: 2rem;
  }
}